<table class = "table table-striped">
    <thead>
        <th>Ids</th>
        <th>Nome</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>
                <a class="btn btn-info" [routerLink]="['/categorias', categoria.id]"> 
                     <span class="fa fa-info-circle"></span> 
                </a>

                <button class="btn btn-danger" > 
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>