<table class = "table table-striped">
    <thead>
        <th>Ids</th>
        <th>Nome</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{categoria.id}}</td>
            <td>{{categoria.nome}}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#categoriaDetail" (click)=onClick(categoria)> 
                     <span class="fa fa-info-circle"></span> 
                </button>

                <button class="btn btn-danger" > 
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>



  <!-- Modal -->
  <div class="modal fade" id="categoriaDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="categoriaSelecionada">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes da Categoria - {{ categoriaSelecionada.nome }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input [(ngModel)]="categoriaSelecionada.nome" class="form-control" type="text">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>