<table class = "table table-striped">
    <thead>
        <th>Ids</th>
        <th>Nome</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let categoria of categorias">
            <td>{{ categoria.id }}</td>
            <td>{{ categoria.nome }}</td>
            <td>
                <button class="btn btn-info" data-toggle="modal" data-target="#categoriaDetail" (click)=onClick(categoria)> 
                     <span class="fa fa-info-circle"></span> 
                </button>

                <button class="btn btn-danger" > 
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<app-categoria-detail [categoria]=categoriaSelecionada> </app-categoria-detail>